body{
    background-color: #d0ecff;
}
h1{
    text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-decoration: underline;
     letter-spacing: 4px;
}
h4{
    background-color: #5D6D7E;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
td{
    border: 2px solid lightseagreen;
    width: 1100px;
    height: 30px;
    text-align: center;
    size: 100;

}
th{
    border: 2px solid lightseagreen;
    width: 1100px;
    height: 30px;
    text-align: center;
    

}
p{
    color: #3498DB;
}